<div class="w-full">
<!--panel-->
    <div class="intro">
        Hy! I'm Zenku , and I'm a Web Developer
    </div>
<!--developper-->
    <div class="w-full md:w-1/2 mx-auto my-20 px-3 md:px-10">
        <div class="dev-box">
            
            <!--img container-->
            <div>
                <div class="dev-image-cont">
                <img  src="assets/images/developper.jpg" class="dev-img" alt="image of developer zakariaa">

                </div>

            </div>

            <!--content-->
            <div class=" md:pl-8 ">

                <!-- dev name -->
                <h4 class="dev-name">
                    Zakariaa Enajjachi
                </h4>

                <!--task-->
                <div class="text-left mb-0">
                    Developer Of Zen-Chat
                </div>

                <!--dev-quote-->
                <p class="dev-quote">
                    Science and code are arts of understanding based on experiences.
                </p>

                <!--dev links-->
                <div class="flex">
                    <a class="dev-social-link" href="#">
                        <img src="assets/icons/instagram.svg"  alt="">

                    </a>

                    <a class="dev-social-link" href="#">
                    <img src="assets/icons/twitter.svg" alt="">

                    </a>

                    <a class="dev-social-link" href="#">
                    <img src="assets/icons/facebook.svg" alt="">

                    </a>

                </div>

            </div>

        </div>

    </div>
    <!--footer-->
    <div class="text-bold text-xl my-2">&copy; Developed and Designed with 
        <img src="assets/icons/heart.svg" alt="heart icon" class="inline-block w-7">
        by <span class="underline text-purple-700">Zenku</span></div>
</div>


